
@{
    ViewData["Title"] = "Index";
}

<div class="row">
   
    <div class="col-md-6" style="border-style: double;border-color: gray;">
        <form asp-action="Index">
            <div class="form-group">
                <input type="submit" value="send" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
